{% extends "Base.html" %}


{% block content %}
<link rel="stylesheet" href="../static_content/css/nicepage.css" media="screen">
<link rel="stylesheet" href="../static_content/css/Converter.css" media="screen">
</head>
<body class="u-body u-xl-mode">
<section class="skrollable u-align-center u-clearfix u-gradient u-section-1" src="" id="sec-00ae">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-gradient u-group u-radius-36 u-shape-round u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h1 class="u-custom-font u-font-roboto-slab u-text u-text-1">Конвертирование</h1>
            </div>
        </div>
        <div class="u-form u-gradient u-radius-28 u-form-1">
            <form action="" method="post" class="u-clearfix u-form-horizontal u-form-spacing-44 u-inner-form"
                  source="custom" name="form" style="padding: 10px;">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.file.label }}<br>
                    {{ form.file(class="form-control") }}<br>
                    {% for error in form.file.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <p>
                    {{ form.select.label }}<br>
                    {{ form.select(class="form-control") }}<br>
                    {% for error in form.select.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                {{message}}
            </form>
        </div>
    </div>
</section>

<div id="error">
    <div id="okno">
        Произошла ошибка. Убедитесь что вы сделали все правильно и попробуйте еще раз.<br>
        <a href="/convert" class="close">Закрыть окно</a>
    </div>
</div>

</body>
</html>
{% endblock %}